name: containerize

on:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: stand up qemu
        uses: docker/setup-qemu-action@v2
      - name: stand up buildx
        uses: docker/setup-buildx-action@v2
      - name: run multistage build
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: false
          tags: ippontech/arm-demo:latest