name: Run Tests
on:
  workflow_dispatch:
  pull_request:
    branches:
      - develop
jobs:
  test:
    runs-on: ubuntu-latest # F-
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      #- name: setup java
      #  uses: actions/setup-java@v2
      #  with:
      #    java-version: '17'
      #- name: gradle buld
      #  run: ./gradlew build
      #- name: run tests
      #  run: ./gradlew test

      - name: exit non-zero on failure.
        if: ${{ failure() }}
        run: |
          echo "Test failed. This PR cannot be merged."
          exit 1
